<main>
  <h1>Login</h1>
  <form action="/login" method="POST">
    <div class="email">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required />
    </div>
    <div class="password">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required />
    </div>
    <% if (typeof error !== 'undefined') { %>
      <span class="error">Login not found!</span>
    <% } %>
    <button type="submit">Login</button>
  </form>
  <a href="/register">Register</a>
</main>
